.flight-variant__wrapper{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #B7BAC1;
    background: #FFFFFF;
    margin:auto 0px;
    width: 107px;
    height: 34px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    strong{
        font-weight: 500;
        font-size: 18px;
    }
}

.active {
    border: 0px;
    background: #DDE3EE;
    width: 130px;
    height: 40px;
}
