.info-card__flight__route {
    display: flex;
    height: 50%;

    .info-card__flight__route__time {
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;

        .info-card__flight__route__time__title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #232323;
            margin-bottom: 8px;
        }

        .info-card__flight__route__time__place{
            overflow: visible;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            width: max-content;
            color: #5C5C5C;
        }

        .info-card__flight__route__time__date{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #5C5C5C;
        }
    }

    .info-card__flight__route__plan {
        margin: auto;
        margin-right: 40px;
        width: 297px;
        height: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin: 0px 4px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #B7BAC1;
        }

        .info-card__flight__route__plan__place{
            width:100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }

        .info-card__flight__route__plan__figure{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            margin-bottom: 8px;

            .line{
                height: 1px;
                background-color:  #B7BAC1;
                width: 90%
            }

            .circle{
                border-radius: 4px;
                width: 8px;
                height: 8px;
                background: #C4C4C4;
            }
        }   
    }

    .info-card__flight__route__baggage__wrapper {
        display: flex;
        flex-grow: 1;

        justify-content: flex-end;

        .info-card__flight__route__baggage__icons{
            width: 50px;
            display: flex;
            margin-top: auto;
            margin-bottom:auto;
            align-items: baseline;
            justify-content: space-between;
        }

        img{
            width: 20px;
        }
    }
}
