.oneway-card {
    box-sizing: border-box;
    margin: 50px auto;
    width: 980px;
    height: 200px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
    display: flex;
    
    .oneway-card__flight__wrapper {
        box-sizing: border-box;
        padding-top: 10px;
        margin-left: 25px;
        margin-right: 20px;
        width: 625px;
        height: 100%;

        .oneway-card__flight__variants {
           display: flex;
            height: 50%;
            gap: 20px;
        }
    }

    .oneway-card__price__wrapper {
        box-sizing: border-box;
        padding-left: 20px;
        display: flex;
        border-left: 1px solid #DDE3EE;
        width: 175px;
        height: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #232323;
    }
}

