.search-button {
    display: flex;
    margin: auto 29px auto 775px;
    width: 158px;
    height: 40px;
    background: #5C87DB;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.disabled {
    background: #B7BAC1;
}

.enabled:active {
    background: #5C87DB !important;
    box-shadow: 0px 4px 4px rgba(92, 135, 219, 0.15);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.enabled:hover {
    cursor: pointer;
    background: #3E67B7;
}