
.avia__wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 1200px;

    .search__wrapper {
        //overflow: hidden;
        margin: 68px auto;
        //height: 186px;
        width: 80%;
        //width: 100%;
        border-radius: 15px;
 
        .search__fields__wrapper {
            box-sizing: border-box;
            padding: 0% 2.5%;
            display: flex;
            flex-direction: row;
            background-color: #5C87DB;
            height: 100px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            align-items: center;
            justify-content: space-between;
        }

        .search__button__wrapper {
            display: flex;
            height: 86px;
            width: 100%;
            background: #FFFFFF;
            /* тень */
            box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
            border-radius: 0px 0px 15px 15px;
        }
    }
}