.roundtrip__wrapper{
    margin: 50px auto;
    height: 330px;
    width: 980px;
    box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
    border-radius: 15px;
    overflow: hidden;
    display: flex;

    .roundtrip-card {
        margin-left: auto;
        margin-right: auto;
        width: 790px;
        height: 165px;
        background: #FFFFFF;
        display: flex;

        
        .roundtrip-card__flight__wrapper {
            padding-left: 25px;
            padding-right: 20px;
            box-sizing: border-box;
            padding-top: 50px;
            width: 670px;
    
            .roundtrip-card__flight__variants {
               display: flex;
                height: 50%;
                gap: 20px;
            }
        }
    }
    .roundtrip-card__price__wrapper {
        box-sizing: border-box;
        padding-left: 20px;
        display: flex;
        border-left: 1px solid #DDE3EE;
        width: 175px;
        height: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #232323;
    }
}

.back{
    border-top: 1px dashed #5C87DB;
}


