.info-card__logo__wrapper {
    display: flex;
    flex-direction: column;
    width: 126px;
    height: 100%;

    .info-card__logo__header{
        width: 100%;
        height: 26px;
        background: #8BA5D8;
        border-radius: 15px 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing:inherit;
        /* identical to box height */
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;
    }

    .info-card__logo__icon__wrapper{
        display: flex;
        flex-direction: column;
        margin: 30px auto;

        .info-card__logo__icon {
            margin-left: auto;
            margin-right: auto;
            width: 39px;
            height: 39px;
        }
        
        .info-card__logo__description {
            margin-top: 8px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #5C5C5C;
        }
    }
}