

.info-page{
    width:980px;
    margin-left: auto;
    margin-right: auto;

    .back-button {
        margin-top: 20px;
        height: 20px;
        width: 130px;
        display: flex;
        background: #8BA5D8;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        text-decoration: none;
    }
    .back-button:hover {
        background: #5C87DB;
        box-shadow: 0px 4px 4px rgba(92, 135, 219, 0.15);
    }
}