.field {
    font-family: 'Roboto';
    font-size: 11px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 208px;
    .field__input-title {
        margin-top: -0.2em;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    .field__input-wrapper{
        box-sizing: border-box;
        padding-left: 12px;
        display: flex;
        align-items: center;
        width: 208px;
        height: 40px;
        border-radius: 10px;
        background-color: #ffffff;
        flex-shrink: 0;
        .field__input {
            outline: none;
            border: 0px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #5C5C5C;
            width: 100%;
        }
        .field__input__icon {
            margin-right: 6px;
            cursor: pointer;
        }
        .date::-webkit-calendar-picker-indicator {
            opacity: 0;
            }
        input::-webkit-input-placeholder { 
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #B7BAC1; 
        }
    } 
    .field__airports-list {
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 10px;
        width: 208px;
        height: max-content;
        background-color: #FFFFFF;
        z-index: 1;
        box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.63);
        .field__airports-list__item {
            margin: 10px;
            cursor: pointer;
        }
        .field__airports-list__item:hover {
            font-weight: 700;
        }
    }
}
.invisible {
    visibility: hidden;
}
.react-datepicker-wrapper {
    width: fit-content !important;
}